* {
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", cursive;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
}
h1 {
  padding: 100px;
}

h3 {
  padding: 25px;
}
#js-form {
  border-radius: 1%;
  display: inline-block;
  padding-bottom: 50px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

button,
input[type="text"] {
  padding: 5px;
}
.petHeader {
  width: 35%;
  min-width: 400px;
}

.wiki {
  border: 5px solid black;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-width: 1000px;
}
.container {
  display: flex;
  margin: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  min-width: 1200px;
}
.button {
  margin: 25px;
  font-size: large;
  border-radius: 15%;
  border-style: solid;
  background-color: black;
  color: white;
  padding: 20px;
}

.button:hover {
  cursor: pointer;
  background-color: gray;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}
form {
  width: 80%;
}
