* {
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", cursive;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
}
h1 {
  padding: 100px;
  width: 33.3%;
}

h2 {
  font-size: 36px;
  text-decoration: underline;
}

h3 {
  font-size: 24px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: 30px;
}
#js-form {
  border-radius: 1%;
  display: inline-block;
  padding-bottom: 50px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}

button,
input[type="text"] {
  padding: 5px;
}
.petHeader {
  width: 33.3%;
  min-width: 500px;
}

.wiki {
  border: 5px solid black;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}

.container {
  display: flex;
  margin: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  min-width: 1200px;
  justify-content: space-around;
}

.button {
  margin: 25px;
  font-size: large;
  border-radius: 15%;
  border-style: solid;
  background-color: black;
  color: white;
  padding: 20px;
}

.moreInfo {
  margin: 25px;
  font-size: large;
  border-radius: 15%;
  border-style: solid;
  background-color: black;
  color: white;
  padding: 20px;
  text-decoration: none;
}

.breed {
  color: darkblue;
}
.button:hover {
  cursor: pointer;
  background-color: gray;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}
form {
  width: 80%;
}

.description {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}

@media screen and (max-width: 1593px) {
 .petHeader{
   width: 33.3%;
   min-width: 200px;
   
 }
 .container{
   min-width:320px;
 }

h1 {
  font-size: 24px;
  padding: 10px;
  width: 33.3%;
}

#js-form {
width: 100%;
min-width: 320px;
}

@media screen and (max-width: 700px){
.petHeader {
    display: none;
  }

h1 {
    font-size: 18px;
  }

#js-form {
width: 100%;
min-width: 320px;
}

.button, .moreInfo {
  font-size: small;
  margin: 5px;
  padding: 10px;
  white-space: nowrap;
}

.wiki {
  width: 90%;
  font-size: 12px;
}
h2 {
  padding: 0px;
}
.animalPic {
  width: 80%;
  min-width: 200px;
}